@model RandomDelayViewModel

@{
    ViewData["Title"] = "Privacy Policy";
}

<div class="text-center">
    <h1 class="display-4">Privacy!</h1>

    <h3>@DateTime.Now</h3>

    <h3>Last delay was: @Model.DelayDuration</h3>
    <h4>Message: @Model.Message</h4>


    <p></p><a class="btn btn-primary" href="/Home">Home</a>
    <p></p><a class="btn btn-primary" href="/Home/Privacy">Privacy</a>
    <p></p><a class="btn btn-primary" href="/Stuff">Stuff</a>
</div>
